# Data Science Tools and Ecosystem #

### In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of he popular languages that Data Scientists use are:
1. Sql
2. Pythone
3. R

## Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Seaborn

# Data Science Tools
1. Jupyter notebook
2. Git
3. cloud

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to multiply then add integers

In [1]:
a = (3*4)+5
print(a)

17

This will convert 200 minutes to hours by dividing by 60

In [2]:
a = (200/60) 
print(a)

3.3333333333333335

__Objectives__: List popular languages for Data Science
1. Python
2. R
3. Java
4. SQL
5. Matlab

## Author ##
 Himanshu Singh Chauhan